* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

/* .navbar a{
    color: red !important;
} */

#cont1 h1, #cont2 h1 {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 80px;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    color: white;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}

#cont2 h1 {
    width: 100%;
    color: #333;
}

#sub-cont1 p {
    font-size: 35px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    color: black;
    color: white;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.6);
}

#sub-cont1 button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 25px;
    align-items: center;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    height: 48px;
    justify-content: center;
    line-height: 1;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    font-weight: bold;
}

#sub-cont1 button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
  
#sub-cont1 button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}
  
#sub-cont1 button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

#logo {
    height: 80%;
}

#cont1 {
    overflow: hidden;
    padding-bottom: 70px;
    height: auto;
    background: rgb(89,157,227);
    background: linear-gradient(156deg, rgba(89,157,227,1) 0%, rgba(41,203,172,1) 50%, rgba(228,77,115,1) 100%);
}

#cont2 {
    margin-top: 30px;
    min-height: 900px;
    height: auto;
}

.icon-hover .fab:hover {
    color: gray;
    transform: scale(1.2);
    transition: all 500ms;
    cursor: pointer;
}


#row1 {
    padding-top: 70px;
    height: 630px;
}

.navbar {
    background-color: #f8f9fa;
}

.nav-btn {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: transparent;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -1px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    font-weight: bold;
}


.dpy-none {
    display: none;
}

.rotate-img, .rotate-reverse-img {
    border: 5px solid #ccc;
    border-radius: 2px;
}

.rotate-img {
    transform: rotate(2deg);
}

.rotate-reverse-img {
    transform: rotate(-2deg);
}

.rotate-img:hover, .rotate-reverse-img:hover {
    transform: rotate(0deg);
    transition: all 1100ms;
}

.color-vir {
    color: rgba(89,157,227,1);
}

.color-be {
    color: rgba(41,203,172,1);
}

.color-la {
    color: rgba(228,77,115,1);
}

.sub-h, .sub-h-title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.sub-h-title {
    font-size: 50px;
}

footer {
    margin-top: 100px;
    min-height: 190px;
    background-color: #222;
}

footer h5 {
    margin-top: 20px;
}

footer img {
    width: 90px;
}

#location {
    font-size: 50px;
}

#location:hover {
    color: rgb(187, 46, 81);
    transition: all 500ms;
}


.no-style {
    text-decoration: none;
}

#moon {
    padding-left: 15px;
    padding-right: 15px;
}

#moon:hover, #dark-toggle-cel {
    cursor: pointer;
}

#register-button:hover {
    color: gray;
    transition: all 300ms;
}

.red-hover {
    color: white;
    transition: all 500ms;
}

.red-hover:hover {
    color: rgb(187, 46, 81);
}

#footer-logo:hover {
    filter: brightness(0.7);
    transform: rotate(360deg);
    transition: filter 1000ms, transform 1500ms;
}

/* register.html */

.form-container {
    background-color: #599de3;
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23000000' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    height: auto;
    padding: 50px 5vw;
    width: 60%;
    margin: 0 auto;
    box-shadow: 3px 3px 3px 2px rgb(107, 104, 104);
    -webkit-box-shadow: 3px 3px 3px 2px rgb(107, 104, 104);
    -moz-box-shadow: 3px 3px 3px 2px rgb(107, 104, 104);
    border: 3px solid #154272;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.form-container h1 {
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    margin-bottom: 30px;
    background-color: #222;
}

.form-container button {
    background-color: #222;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    color: whitesmoke;
}

.form-container button:hover {
    color: #222;
    background-color: whitesmoke;
    transition: all 600ms;
}

.lb-field {
    font-weight: bold;
    color: white;
    background-color: #222;
    padding: 0px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    top: 8px;
}

#bread a{
    color: #154272;
}

#bread {
    padding-top: 40px;
    padding-left: 40px;
}

.icon-mirror {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#cont3 {
    margin-top: 30px;
    border-top: 7px solid rgb(34, 178, 152);
    border-bottom: 7px solid rgb(34, 178, 152);
    background-color: #22b298;
background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.07' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
    box-shadow: 0px 3px 2px 0px #444, 0px -3px 2px 0px #444;
    -webkit-box-shadow: 0px 3px 2px 0px #444, 0px -3px 2px 0px #444;
    -moz-box-shadow: 0px 3px 2px 0px #444, 0px -3px 2px 0px #444;
}

#cont3 h2 {
    display: block;
    margin: 0 auto;
    font-size: 40px;
    font-weight: bold;
    background-color: #ccc;
    margin-top: 20px;
    padding: 10px 0px;
    width: 50%;
    border: whitesmoke solid 2px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#cont3 li {
    font-size: 20px;
    color: whitesmoke;
}

.ul-no-style {
    list-style: none;
    padding-left: 0px;
    background-color: #333;
    padding: 30px 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    border: whitesmoke solid 2px;
    border-top: none;
}

.info-register {
    font-size: 30px;
}


/* mediaqueries */


@media screen and (max-width: 1600px) {
    #cont1 h1 {
        font-size:70px;
    }
    #cont1 p{
        font-size: 29px;
    }

}

@media screen and (max-width: 1400px) {
    #sub-cont1 {
        width: 90%;
        margin: 0 auto;
    }

    .trow {
        display: none;
    }

    #cont1 h1 {
        font-size: 60px;
    }
}

@media screen and (min-width: 992px) {
    #cont-nav {
        display: flex;
        justify-content: center;
        height: 70px;
      }
      
      .navbar-brand {
        position: absolute;
        transform: translateX(-0%);
      }

      .hidden {
        display: none;
      }

      .dpy-none {
        display: block;
    }
}

@media screen and (max-width: 991px) {
    #logo {
        height: 50px;
    }

    .nav-btn {
        margin-top: 10px;
    }

    #cont1 h1 {
        font-size: 40px;
        width: 80%;
    }

    #cont2 h1 {
        font-size: 64px;
    }

    .form-container {
        width: 90%;
    }

    #bread {
        padding-top: 20px;
        padding-left: 35px;
    }

    #cont3 h2 {
        width: 90%;
        font-size: 39px;
    }

    .ul-no-style {
        width: 90%;
    }

    .info-register {
        font-size: 20px;
        width: 80%;
        display: block;
        margin: 0 auto;
        margin-top: 40px;
    }
}

@media screen and (max-width: 660px) {
    #cont1 p {
        font-size: 24px;
    }
    #cont2 h1 {
        font-size: 50px;
        width: 90%;
    }
    #cont2 p, #cont2 img {
        width: 90%;
    }
    .sub-h-title {
        font-size: 40px;
    }

}

@media screen and (max-width: 460px) {
    #cont1 p {
        width: 90%;
        font-size: 20px;
    }
    #cont3 h2 {
        font-size: 32px;
    }
}

@media screen and (max-width: 360px) {
    #cont1 p {
        font-size: 17px;
    }
}


